<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p %d %-90m =&gt;[%t] %C{1}.%M %n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>info</level>
    </filter>
  </appender>
  <appender name="logfile" class="ch.qos.logback.core.FileAppender">
    <File>mageserver.log</File>
    <encoder>
      <pattern>%-5p %d %-90m =&gt;[%t] %C{1}.%M %n</pattern>
    </encoder>
  </appender>
  <logger name="com.j256.ormlite" level="warn"/>
  <root level="info">
    <appender-ref ref="console"/>
    <appender-ref ref="logfile"/>
  </root>
</configuration>

