syntax: glob
Mage.Client/*.dck
Mage.Client/db
Mage.Client/mageclient.log
Mage.Client/plugins/images
Mage.Client/plugins/plugin.data
Mage.Client/target
Mage.Common/target
Mage.Plugins/Mage.Card.Plugin/target
Mage.Plugins/Mage.Counter.Plugin/target
Mage.Plugins/Mage.Theme.Plugin/target
Mage.Plugins/Mage.Rating.Plugin/target
Mage.Server.Console/target/
Mage.Server.Plugins/Mage.Deck.Constructed/target
Mage.Server.Plugins/Mage.Deck.Limited/target
Mage.Server.Plugins/Mage.Game.CommanderDuel/target
Mage.Server.Plugins/Mage.Game.FreeForAll/target
Mage.Server.Plugins/Mage.Game.TwoPlayerDuel/target
Mage.Server.Plugins/Mage.Player.AI/target
Mage.Server.Plugins/Mage.Player.AIMinimax/target
Mage.Server.Plugins/Mage.Player.AI.MA/target
Mage.Server.Plugins/Mage.Player.AIMCTS/target
Mage.Server.Plugins/Mage.Player.Human/target
Mage.Server.Plugins/Mage.Draft.8PlayerBooster/target
Mage.Server.Plugins/Mage.Tournament.BoosterDraft/target
Mage.Server.Plugins/Mage.Tournament.Sealed/target
Mage.Server.Plugins/Mage.Player.AI.DraftBot/target
Mage.Server/config/init.txt
Mage.Server/saved
Mage.Server/target
Mage.Server/db
Mage.Server/cache
Mage.Server/mageserver.log
Mage.Sets/target
Mage.Tests/target
Mage.Tests/cache
Mage.Tests/db
Mage.Tests/Mage.log
Mage.Tests/watchdog.log
Mage/target
Mage.Updater/target
mage.updater.client/target

releases
Utils/author.txt
.metadata
.project
.settings
syntax: regexp
\.class
\.jar
\.iml
\.ipr
\.iws
\.log
nbactions.xml
nbactions-*.xml
nb-configuration.xml
glob:Mage.Client/cheat.dck
glob:Mage.Client/test.dck

Mage.Server.Plugins/Mage.Draft.8PlayerBooster/target
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
/Mage.Server.Plugins/Mage.Player.AIMCTS/target/
/Mage.Server.Console/target/
*.classpath
*.iml
/submitted
