# These files are text and should be normalized (convert crlf =&gt; lf)
*.cs      text diff=csharp
*.cmd     text
*.txt     text
*.xml     text
*.md      text
*.mf      text
*.java    text
*.form    text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.gif     binary
*.jepg    binary

*.sdf     binary