    /*
    [=$cardName=]
    [=$manaCost=]
    [=$typeLine=]
    [=$abilities=][=$loyalty ? "\n    Loyalty:$loyalty" : "" =][=$powerToughness ? "\n    $powerToughness" : "" =]
    */
    private static final String [=$classNameLower=] = "[=$cardName=]";