package org.mage.test.cards.single.[=$setCode=];

import org.junit.Test;
import org.mage.test.serverside.base.CardTestPlayerBase;

/**
 *
 * @author [=$author=]
 */
public class [=$className=]Test extends CardTestPlayerBase {

[=$cardInfo=]

    @Test
    public void test[=$className=]() {
        setStrictChooseMode(true);
    }
}