<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="MAGE_TEST_LOG" value="magetest.log" />
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p %d %-90m =&gt;[%t] %C{1}.%M %n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>info</level>
    </filter>
  </appender>
  <appender name="logfileByIndex" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <file>${MAGE_TEST_LOG}</file>
    <encoder>
      <pattern>%-5p %d %-90m =&gt;[%t] %C{1}.%M %n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <maxHistory>3</maxHistory>
      <maxFileSize>10MB</maxFileSize>
      <FileNamePattern>${MAGE_TEST_LOG}-%d{yyyyMMdd}.%i.log</FileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="watchdog" class="ch.qos.logback.core.FileAppender">
    <file>magetestErrors.log</file>
    <encoder>
      <pattern>%-5p [%d] %C{1}[%t]: %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>error</level>
    </filter>
  </appender>
  <logger name="com.j256.ormlite" level="warn"/>
  <root level="info">
    <appender-ref ref="console"/>
    <appender-ref ref="logfileByIndex"/>
    <appender-ref ref="watchdog"/>
  </root>
</configuration>

