# You may add any card to any zone here
#
# Format: <zone>:<nickname>:<card name>:<amount>
# 
# zone ::= hand | battlefield | graveyard
# nickname - Player's name you connect to the game with
#
#
hand:player:Giant Grows:1
graveyard:player:Snapsail Glider:2
graveyard:computer:Snapsail Glider:2
battlefield:player:Wild Nacatl:1
battlefield:player:Spikeshot Elder:1
battlefield:player:Mountain:5
battlefield:player:Forest:5


