#
# Rename this file to init.txt if you want to start using it
#

# You may add any card to any zone here
#
# Format: <zone>:<nickname>:<card name>:<amount>
# 
# zone ::= hand | battlefield | graveyard | library
# nickname - Player's name you connect to the game with
#
#
battlefield:player:Forest:1
graveyard:player:Plains:1
battlefield:player:Snapsail Glider:1
battlefield:computer:Island:2
battlefield:player:Plains:3
hand:player:Whispersilk Cloak:1
hand:computer:Lightning Bolt:1
library:player:Shock:2
