<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss,SSS} %-90m =&gt;[%t] %C{1}.%M %n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>info</level>
    </filter>
  </appender>
  <appender name="logfileByIndex" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>mageclient.log</File>
    <append>true</append>
    <encoder>
      <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss,SSS} %-90m =&gt;[%t] %C{1}.%M %n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>5</maxIndex>
      <FileNamePattern>mageclient.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <logger name="com.j256.ormlite" level="warn"/>
  <root level="info">
    <appender-ref ref="console"/>
    <appender-ref ref="logfileByIndex"/>
  </root>
</configuration>

