package mage.sets.[=$set=];

import java.util.UUID;[= if ($rarityExtended) {$OUT .= "\nimport mage.constants.Rarity;"}=]

/**
 *
 * @author [=$author=]
 */
public final class [=$className=] extends mage.sets.[=$baseSet=].[=$className=] {

    public [=$className=](UUID ownerId) {
        super(ownerId);
        this.cardNumber = "[=$cardNumber=]";
        this.expansionSetCode = "[=$expansionSetCode=]";[=$rarityExtended=]
    }

    private [=$className=](final [=$className=] card) {
        super(card);
    }

    @Override
    public [=$className=] copy() {
        return new [=$className=](this);
    }
}
