package mage.cards.[=$cardNameFirstLetter=];

import java.util.UUID;[=
if ($power || $power eq 0) {
    if ($planeswalker eq 'true') {
    }else {
        $OUT .= "\nimport mage.MageInt;"
    }
}
if ($hasSubTypes eq 'true') {
    $OUT .="\nimport mage.constants.SubType;"
}
if ($hasSuperTypes eq 'true') {
    $OUT .="\nimport mage.constants.SuperType;"
}
=][=$abilitiesImports=]
import mage.cards.CardImpl;
import mage.cards.CardSetInfo;
import mage.constants.CardType;

/**
 *
 * @author [=$author=]
 */
public final class [=$className=] extends CardImpl {

    public [=$className=](UUID ownerId, CardSetInfo setInfo) {
        super(ownerId, setInfo, new CardType[]{[=$type=]}, "[=$manaCost=]");
        [=$subType=][=$colors=][=
if ($power || $power eq 0) {
    if ($planeswalker eq 'true') {
        $OUT .= "\n        this.setStartingLoyalty($power);";
    } else {
        $OUT .= "\n        this.power = new MageInt($power);";
        $OUT .= "\n        this.toughness = new MageInt($toughness);";
    }
}
=][=$abilities=]
    }

    private [=$className=](final [=$className=] card) {
        super(card);
    }

    @Override
    public [=$className=] copy() {
        return new [=$className=](this);
    }
}
