package mage.sets.[=$set=];

import java.util.UUID;

/**
 *
 * @author [=$author=]
 */
public final class [=$className=][=$landNr=] extends mage.cards.basiclands.[=$className=] {

    public [=$className=][=$landNr=](UUID ownerId) {
        super(ownerId, [=$cardNumber=]);
        this.expansionSetCode = "[=$expansionSetCode=]";
    }

    private [=$className=][=$landNr=](final [=$className=][=$landNr=] card) {
        super(card);
    }

    @Override
    public [=$className=][=$landNr=] copy() {
        return new [=$className=][=$landNr=](this);
    }
}
