package mage.cards.[=$cardNameFirstLetter=];

import java.util.UUID;
[=$abilitiesImports=]
import mage.cards.CardSetInfo;
import mage.cards.RoomCard;
import mage.constants.CardType;
import mage.constants.SpellAbilityType;

/**
 *
 * @author [=$author=]
 */
public final class [=$className=] extends RoomCard {

    public [=$className=](UUID ownerId, CardSetInfo setInfo) {
        super(ownerId, setInfo, "[=$manaCost=]");
[= if ($power || $power eq 0) {
    $OUT .= "\n        this.power = new MageInt($power);";
    $OUT .= "\n        this.toughness = new MageInt($toughness);";} =][=$abilities=]
    }

    private [=$className=](final [=$className=] card) {
        super(card);
    }

    @Override
    public [=$className=] copy() {
        return new [=$className=](this);
    }
}
