name: Publish wiki
on:
  push:
    branches: [master]
    paths:
      - wiki/**
      - .github/workflows/wiki.yml
concurrency:
  group: wiki
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: impresscms-dev/strip-markdown-extensions-from-links-action@v1.0.0
        with:
          path: wiki
      - uses: Andrew-Chen-Wang/github-wik-action@v4
    
